# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY= pk_2898304cdef97699ba3dd4644853f2ea3d9d54d0d0a94 
# Set the environment for your application, e.g. "development"
NODE_ENV=
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51L48gkCfQVI2MFmZAsFCLA1ysQkq218cxK2uEsOHohObdNOJEORtq8oouEO74o7qNZcZkW5SN5fntCviYOGTR6xj003xkF63VK
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY= sk_28983f5bb20d68a04c666fe16e8166cec3a6ce9531542 
CHEC_API_URL=https://api.chec.io
